.PostcardList {
    display: flex;
    justify-content: center;
    position: relative;

    .PostcardThumb {
        position: absolute;
        left: 0;
        top: 50%;
        height: 100%;
    }
}
