.PostcardList {
    display: flex;
    justify-content: center;
    height: 100px;

    .PostcardThumb {
        height: 100%;
    }

    .PostcardThumb + .PostcardThumb {
        margin-left: 1rem;
    }
}
