.PostcardThumb {
    position: relative;
    border: 2px solid transparent;
    transition: transform 200ms ease-out, opacity 200ms linear;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    &:hover {
        opacity: 0.8;
    }

    &-selected {
        border-color: red;
    }

    &-selected:hover {
        border-color: red;
        opacity: 1;
    }

    &-remove {
        position: absolute;
        top: -2px;
        right: -2px;
        opacity: 0;
        transition: opacity 100ms linear, color 100ms linear;

        &:hover {
            color: red;
        }
    }

    &:hover &-remove {
        opacity: 1;
    }
}
