.Main {
    display: flex;

    &-workspace {
        flex: 1 0 0;
        display: flex;
        flex-direction: column;
    }

    .PostcardView {
        flex: 1 0 0;
    }

    .PostcardList {
        flex-shrink: 0;
    }

    .Controller {
        width: 12.5rem;
        flex-shrink: 0;
    }
}
