.PostcardView {
    display: flex;
    padding: 1rem;
    position: relative;

    &-image {
        position: absolute;
        left: 50%;
        top: 50%;
        transition: transform 300ms ease-out;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &-textBlocks {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .TextBlockEntry {
        position: absolute;
        left: 0;
        top: 0;
    }
}
